// Import framework styles
// ---------------------------
@import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/animate.css/animate.css";


// Variables
// ---------------------------
color-primary   = black
color-secondary = black
color-tertiary  = black

font-family-base            = Arial
font-family-headings        = Georgia

font-size-base              = 15px
font-size-main-heading      = 2.5rem
font-size-secondary-heading = 2rem
font-size-sub-heading       = 1.5rem
font-size-copy              = 1rem
font-size-ui                = 0.8rem

grid-gutter = 20px

margin-bottom-base      = 0.5rem
margin-bottom-component = 1.5rem


// Styles
// ---------------------------
body
    font-family font-family-base
    font-size font-size-base

h1
    font-size font-size-main-heading
    margin-bottom margin-bottom-base

h2
    font-size font-size-secondary-heading
    margin-bottom margin-bottom-base

h3
    font-size font-size-sub-heading
    margin-bottom margin-bottom-base

p
    font-size-copy
    margin-bottom margin-bottom-base
